<!doctype html>
<html lang="en">
	<head prefix="og: http://ogp.me/ns#">
		<meta charset="utf-8">
		<title>{{ page.title }} &mdash; public inquiry for Daphne Caruana Galizia</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="canonical" href="https://www.publicinquiry.mt{{ page.url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<meta name="author" content="Matthew Caruana Galizia">
		<meta name="description" content="{{ page.excerpt }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@mcaruanagalizia">
		<meta name="twitter:description" content="{{ page.excerpt }}">
		<meta name="twitter:image" content="https://www.publicinquiry.mt/assets/img/og-image-three-months.jpg">
		<meta name="twitter:image:alt" content="Three months for Malta to comply and set up an independent public inquiry.">
		<meta name="twitter:domain" content="www.publicinquiry.mt">
		<meta property="og:site_name" content="Public inquiry for Daphne Caruana Galizia">
		<meta property="og:locale" content="en_GB">
		<meta property="og:type" content="article">
		<meta property="article:author" content="https://www.facebook.com/matthewcaruanagalizia">
		<meta property="og:url" content="https://www.publicinquiry.mt{{ page.url }}">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:description" content="{{ page.excerpt }}">
		<meta property="og:image" content="/assets/img/og-image-three-months.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">
		<meta property="og:image:alt" content="Three months for Malta to comply and set up an independent public inquiry.">
		<script type="text/javascript">
			var pimt_days = (function() {
				var today = new Date();
				var deadline = new Date(2019, 8, 26);
				var one_day;

				one_day = 1000 * 60 * 60 * 24;
				return Math.ceil((today.getTime() - deadline.getTime()) / one_day);
			})();
		</script>
	</head>
	<body>
		<header>
			<h1><a href="/en/">Public inquiry for Daphne Caruana Galizia</a></h1>
			<p>On 26 June 2019 the Council of Europe gave Malta three months to start a public inquiry that will uncover the whole truth behind Daphne's assassination. We are now: <span id="daysleft"><span id="days">0</span> days past deadline.</span></p>
			<script type="text/javascript">
				(function() {
					var days_elem = document.getElementById('days');

					if (String(pimt_days) !== days_elem.textContent) {
						days_elem.textContent = pimt_days;
					}
				})();
			</script>
		</header>
		<main>
			<article>
				<div id="banner"></div>
				<div class="article-body">
					{{ content }}
				</div>
			</article>
		</main>
		<footer>
			<p>This is a project of <a href="https://www.daphne.foundation/" title="The Daphne Caruana Galizia Foundation">The Daphne Caruana Galizia Foundation</a>.</p>
		</footer>
	</body>
</html>
